/* hero-unit
------------------------------------*/
h1.wellcome_message {
	display: inline-block;
	text-align: center;
}

.hero_join{
	margin: 7px;
}

/* event_table
------------------------------------*/
 .event_table {
	padding: 7px;
	border: 1px solid #dddddd;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.event_table dt {
	width: 100px;
}
.event_table dd {
	margin-left: 120px;
}
/* speaker
------------------------------------*/
 .atnd {
	background-color: #b94a48;
}
.speaker_box {
	margin-bottom: 22px;
}
/* Large desktop */
 @media (min-width: 1200px) {
	img#logo {
		width: 256px;
		height: 256px;
	}
	.event_table {
		width: 700px;
	}
}
/* Portrait tablet to landscape and desktop */
 @media (min-width: 768px) and (max-width: 979px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	.hero-unit h1 {
		font-size: 200%;
	}
	h1 {
		font-size: 250%;
		line-height: 31px;
	}
	h1 small {
		font-size: 60%;
	}
}
/* Landscape phone to portrait tablet */
 @media (max-width: 767px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	.hero-unit .h1 {
		font-size: 200%;
	}
	h1 {
		font-size: 200%;
		line-height: 31px;
	}
	h1 small {
		font-size: 60%;
	}
}
/* Landscape phones and down */
 @media (max-width: 480px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	.hero-unit h1 {
		font-size: 200%;
	}
	h1 {
		font-size: 200%;
		line-height: 31px;
	}
	h1 small {
		font-size: 60%;
	}
}