/* common
------------------------------------*/
body {
    font-family: Meiryo,sans-serif;
}

/* hero-unit
------------------------------------*/
.hero_join{
	margin: 7px;
}
.welcome_message {
	display: inline-block;
}

/* event_table
------------------------------------*/
 .event_table {
	padding: 7px;
	border: 1px solid #dddddd;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.event_table dt {
	width: 100px;
}
.event_table dd {
	margin-left: 120px;
}
/* speaker
------------------------------------*/
 .atnd {
	background-color: #b94a48;
}
.speaker_box {
	margin-bottom: 22px;
}
/* Large desktop */
 @media (min-width: 980px) {

	img#logo {
		width: 256px;
		height: 256px;
	}
	.hero-unit {
		text-align: left;
	}
	.welcome-top {
		font-size: 35%;
		line-height: 31px;
	}
	.welcome-main {
		font-size: 100%;
		line-height: 110%;
	}
	.event_table {
		width: 700px;
	}
}
/* Portrait tablet to landscape and desktop */
 @media (min-width: 768px) and (max-width: 979px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	.hero-unit {
		text-align: left;
	}
	.welcome-top {
		font-size: 25%;
		line-height: 31px;
	}
	.welcome-main {
		font-size: 100%;
		line-height: 110%;
	}
	small {
		font-size: 60%;
	}
}
/* Landscape phone to portrait tablet */
 @media (max-width: 767px) {
	img#logo {
		width: 300px;
		height: 300px;
	}
	.hero-unit {
		padding:30px;
		text-align: center;
	}
	.welcome-top {
		font-size: 25%;
		line-height: 31px;
	}
	.welcome-main {
		font-size: 100%;
		line-height: 110%;
	}
	small {
		font-size: 60%;
	}
}
/* Landscape phones and down */
 @media (max-width: 480px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	.hero-unit {
		padding:30px;
		text-align: center;
	}
	.welcome-top {
		font-size: 25%;
		line-height: 31px;
	}
	.welcome-main {
		font-size: 100%;
		line-height: 110%;
	}
	small {
		font-size: 60%;
	}
}