/* Common
------------------------------------*/
body {
	font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

h2 {
	font-size : 150%;
}
h4 {
	font-size : 100%;
}


/* hero-unit
------------------------------------*/
h1.welcome_message {
	display: inline-block;
}

.hero_join{
	margin: 7px;
}
.hero-unit {
	margin-bottom : 10px;
}

/* event_table
------------------------------------*/
 .event_table {
	padding: 7px;
	border: 1px solid #dddddd;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.event_table dt {
	width: 100px;
}
.event_table dd {
	margin-left: 120px;
}
/* lecture
------------------------------------*/
.summary {
	border-top : 1px solid #dddddd;
}

/* social applications
------------------------------------*/

.social_apps {
	text-align: right;
	overflow: hidden;
}
.social_apps .social_button {
	float: right;
	margin-right: 10px;
}
.social_apps iframe {
	margin: 0 !important;
	width : 110px !important;
}

/* speaker
------------------------------------*/
.lecture_data {
	margin: 7px;
}
.lecture_summary_table dt {
	width: 100px;
}
.lecture_summary_table dd {
	margin-left: 120px;
}
.speaker_box {
	margin-bottom: 22px;
}

/* LT
------------------------------------*/
.lt_summary_table dt {
  text-overflow: clip;
  white-space: normal;
  width: 250px;
}
.lt_summary_table dd {
  margin-left: 260px;
}

/* labels
------------------------------------*/
.label_atnd {
	background-color: #b94a48;
}
.label_togetter {
	background-color: #7FC6BC;
}
.label_slideshare {
	background-color: #f89406;
}
.label_ustream {
	background-color: #2792ff;
}
.label_github {
  background-color: #000;
}
.label_googledoc {
    background-color: #000;
}

/* labels
------------------------------------*/
.icon24 {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 1px;
	line-height: 24px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.icon_facebook {
	background-image: url("../img/btn_mini_facebook.png");
}
.icon_twitter {
	background-image: url("../img/btn_mini_twitter.png");
}

/* Large desktop */
 @media (min-width: 980px) {
	img#logo {
		width: 250px;
		height: 250px;
	}
	.event_table {
		width: 700px;
	}
	.welcome_message {
		position : absolute;
		padding-left : 50px;
		padding-top  : 30px;
	}
	.welcome_top {
		font-size : 30%;
	}
	.welcome_main {
		display:block;
		font-size : 70%;
	}
	.hero-unit {
		padding : 20px 80px;
		text-align: left;
	}
}


/* Portrait tablet to landscape and desktop */
 @media (min-width: 768px) and (max-width: 979px) {
	img#logo {
		width: 200px;
		height: 200px;
	}
	small {
		font-size: 60%;
	}
	.welcome_message {
		position : absolute;
		padding-left : 20px;
		padding-top  : 20px;
	}
	.welcome_top {
		font-size : 25%;
	}
	.welcome_main {
		display:block;
		font-size : 60%;
	}
	.hero-unit {
		padding : 20px 40px;
		text-align: left;
	}
	.ustream_channel iframe {
		width: 500px;
		height: 407px;
	}
}
/* Landscape phone to portrait tablet */
 @media (max-width: 767px) {
	img#logo {
		width: 250px;
		height: 250px;
	}
	small {
		font-size: 60%;
	}
	.welcome_message {
		position : relative;
		padding-left : 0px;
		padding-top  : 0px;
	}
	.welcome_top {
		padding-top : 0px;
		font-size : 30%;
	}
	.welcome_main {
		display:none;
		font-size : 60%;
	}
	.hero-unit {
		padding : 0px 0px;
		text-align: center;
	}
	.ustream_channel iframe {
		width: 385px;
		height: 321px;
	}

}
/* Landscape phones and down */
 @media (max-width: 480px) {
	img#logo {
		width: 250px;
		height: 250px;
	}
	small {
		font-size: 60%;
	}
	.welcome_message {
		position : relative;
		padding-left : 0px;
		padding-top  : 0px;
	}
	.welcome_top {
		padding-top : 0px;
		font-size : 30%;
	}
	.welcome_main {
		display:none;
		font-size : 50%;
	}
	.hero-unit {
		padding : 0px 0px;
		text-align: center;
	}
	.ustream_channel iframe {
		width: 300px;
		height: 257px;
	}
}