# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
dist
npm-debug.log
.DS_Store
.grunt
CNAME

# for WebStorm IDE
.idea