		<h3>スタッフ</h3>
		<!-- row 1 -->
		<ul class="thumbnails">
			<li class="span3 leader_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">川田　寛(部長)</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/hiroshi.kawada.758" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/kawada_hiroshi1" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">佐川 夫美雄(副部長)
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/sagawa.fumio" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/albatrosary" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
		</ul>
		
		<!-- row 2 -->
		<ul class="thumbnails">
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">阿部　一幸</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="https://twitter.com/gabunomi" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">伊藤</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/260x180" alt="" src="">
				</a>
				-->
				<h4 class="member_name">江頭　宏和</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="https://www.facebook.com/hirokazu.egashira" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/ega1979" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/260x180" alt="" src="">
				</a>
				-->
				<h4 class="member_name">小川　充</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/mitsuru.ogawa.33" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/mitsuruog" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
		</ul>

		<!-- row 3 -->
		<ul class="thumbnails">
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">兒玉 松男</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
	          <a href="//www.facebook.com/matsuo.kodama" target="_blank"><span class="icon24 icon_facebook"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">小堤一弘</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/kotsutsumi" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/kotsutsumi" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">酒巻 瑞穂</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/miz.sak.9" target="_blank"><span class="icon24 icon_facebook"></span></a>
						<a href="https://twitter.com/SakamakiM" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">清水 大輔</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/dshim0122" target="_blank"><span class="icon24 icon_facebook"></span></a>
					</li>
				</ul>
			</li>
		</ul>
		
		<!-- row 4 -->
		<ul class="thumbnails">
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">仲 裕介</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/yusuke.naka.52" target="_blank"><span class="icon24 icon_facebook"></span></a>
                        <a href="https://twitter.com/Tukimikage" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">中西</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">

					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">原田 光一</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/koichi.harada.endor" target="_blank"><span class="icon24 icon_facebook"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">原田 健太郎</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links"></li>
				</ul>
			</li>
		</ul>
		<!-- row 5 -->
		<ul class="thumbnails">
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">星　拓海</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/takumi.hoshi.since" target="_blank"><span class="icon24 icon_facebook"></span></a>

						<a href="https://twitter.com/taku_Since" target="_blank"><span class="icon24 icon_twitter"></span></a>
					</li>
				</ul>
			</li>
			<li class="span3 member_box">
				<!--
				<a href="#" class="thumbnail member_image">
					<img data-src="holder.js/300x200" alt="">
				</a>
				-->
				<h4 class="member_name">山方　均</h4>
				<ul class="unstyled member_detail">
					<li class="member_career"></li>
					<li class="member_comment"></li>
					<li class="member_links">
						<a href="//www.facebook.com/hitoshi.yamagata" target="_blank"><span class="icon24 icon_facebook"></span></a>
					</li>
				</ul>
			</li>
		</ul>