	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span9 left_contents">
				<h2>アーカイブ</h2>
				<div class="event_archive">
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2014-do/">
								2014/06/13-2014/06/14 オープンソースカンファレンス2014 Hokkaido
							</a>
						</h4>
						<ul>
							<li>業務アプリケーションにおけるこれからのWeb開発：佐川夫美雄</li>
							<li>展示ブース：佐川夫美雄/酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://atnd.org/events/51619">
								2014/06/13 HTML5 fun × SenchaUGナイトセミナー＠札幌
							</a>
						</h4>
						<small>Web制作者も必見、一からPhoneGapを学ぼう！そしてHTML5の未来を語る</small>
						<br>
						<ul>
							<li>Web制作者からみたPhoneGap：阿部 正幸（HTML5 fun / KDDIウェブコミュニケーションズ エバンジェリスト）</li>
							<li>PhoneGapを使う理由：佐川 夫美雄（html5jエンタープライズ部）</li>
							<li>SenchaとPhoneGap – 意外と知らない使い方：後藤 恭智（Sencha UG）</li>
							<li>PhoneGapなんか要らない？ – FireFoxOS：酒巻 瑞穂（FireFoxOSコードリーディング（メンバー））</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://atnd.org/events/51156">
								2014/05/27 第10回 html5jエンタープライズ部ナイトセミナー
							</a>
						</h4>
						<small>UIテストの自動化は何が良いのか、どのように実現するのか？</small><br>
						<ul>
							<li>Oracle 榑松 谷仁</li>
							<li>サイボウズ 宮田 淳平</li>
							<li>Xenophy 佐川 夫美雄</li>
							<li>DeNA 沖田 邦夫</li>
							<li>日本IBM 金元 隆志</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2014-okinawa/">
								2014/05/24 オープンソースカンファレンス2014 Okinawa
							</a>
						</h4>
						<ul>
							<li>業務アプリケーションにおけるこれからのWeb開発：佐川夫美雄</li>
							<li>展示ブース：佐川夫美雄</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://connpass.com/event/6078/">
								2014/05/22 【ヒカ☆ラボ】業務アプリケーション開発の「いま」を語る ～ 最新トレンド技術YEOMANとは！？：佐川夫美雄 ～
							</a>
						</h4>
						<ul>
							<li>業務エンジニアとしての生き方</li>
							<li>HTML5って簡単？</li>
							<li>業務アプリケーションを作るためのアーキテクチャ（Single-page Application）</li>
							<li>開発ツールYEOMAN</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://kokucheese.com/event/index/153842/">
								2014/04/12 エフスタ!!春のITまつり　～エンタープライズ開発の全て！～
							</a>
						</h4>
						<small><a href="http://efsta.com/">エフスタ</a>主催による春のITまつりに参加</small>
						<br>
						<ul>
							<li>簡単プレゼンテーション術：菊地司和</li>
							<li>業務アプリケーションにおけるこれからのWeb開発 〜 HTML5は簡単か 〜：佐川夫美雄</li>
							<li>描いて伝えるあなたの想い：鈴木真彦</li>
							<li>デベロッパーも知ってると便利 デザインの基本：稲葉修平</li>
							<li>ITインフラのお仕事：藤田慎也</li>
							<li>セキュリティと開発と：芳賀健</li>
							<li>現場使えるSQLの極意：湯峰洋志/村上俊政</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://atnd.org/events/48485">
								2014/04/09 第9回 html5jエンタープライズ部ナイトセミナー
							</a>
						</h4>
						<small>IE6はEOLだが、これからのWeb系システムは本当にブラウザでいいのか？</small>
						<br>
						<ul>
							<li>IBM Worklight：日本アイ・ビー・エム株式会社 佐々木 志門</li>
							<li>SAP Mobile Platform：SAPジャパン株式会社 川畑 宗仁</li>
							<li>Google Chrome for Business：html5jエンタープライズ部 川田 寛</li>
							<li>Microsoft Internet Explorer ＆ Active Directory ＆ IEAK： 株式会社シーピーエス / Microsoft MVP 村地 彰</li>
							<li>Mozilla Firefox：株式会社クリアコード 結城 洋志</li>
							<li>Sencha Space：株式会社ゼノフィ 中村 久司	</li>
						</ul>
					</blockquote>	
					<blockquote>
						<h4>
							<a href="http://atnd.org/events/48518">
								2014/03/25 はじめてのプログラミング ～ はいはい編 ～
							</a>
						</h4>
						<ul>
							<li>ハンズオン講師：酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2014-hamanako/">
								2014/03/22 オープンソースカンファレンス2014 Hamanako
							</a>
						</h4>
						<ul>
							<li>フルOSSで作るSingle-page Application powered by Yeoman：佐川夫美雄</li>
							<li>展示ブース：佐川夫美雄</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://html5fukuoka.doorkeeper.jp/events/9170">
								2014/03/15 Yeomanハンズオン@福岡
							</a>
						</h4>
						<ul>
							<li><a href="https://www.slideshare.net/sagawafumio/yeoman-in">YEOMAN概要</a>：佐川夫美雄</li>
							<li><a href="http://msakamaki.hatenablog.jp/entry/2014/03/16/145556">generatorを作ってみよう</a>：酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2014-spring/">
								2014/02/28-2014/03/01 オープンソースカンファレンス2014 Tokyo/Spring
							</a>
						</h4>
						<ul>
							<li>業務アプリケーションにおけるモダンWeb開発の現状：佐川夫美雄</li>
							<li>展示ブース：佐川夫美雄/酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://conference.html5biz.org/2014spring/">
							2014/02/28 Enterprise x HTML5 Application Conference 2014</a>
						</h4>
						<ul>
							<li>パネルディスカッション「HTML5とエンタープライズITの向かう先」</li>
							<li>デスクトップアプリの使い勝手を超えるWeb業務アプリケーションを作る</li>
							<li>HTML5を活用した効果の高いリッチアプリ開発体制構築とコンサルティングの実現方法</li>
							<li>ゼロコーディングでブラウザ動作プロトタイプを作る最新のWeb制作ツール</li>
							<li>企業におけるHTML5を用いたスマートデバイス向けアプリ開発</li>
							<li>Web アプリケーションにおけるクライアントサイドのデータハンドリングと可視化の実現</li>
							<li>知らないと損する?Webページを検証するための無償ツールとサービス</li>
							<li>業務系Webアプリケーションに求められるUIとUX</li>
							<li>リッチアプリケーション開発を助けるOSSのJSフレームワーク「AngularJS」の魅力</li>
							<li>Webアプリ開発者のためのHTML5セキュリティ入門</li>
							<li>オープンソースで始めるオフラインアプリケーション開発入門</li>
							<li>OSSのブラウザ自動テストツール「Selenium」を使った、開発・テストの効率化</li>
							<li>JavaエンタープライズアーキテクチャにおけるHTML5</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://atnd.org/events/47435">
							2014/02/15 第13回 Creators MeetUp</a>
						</h4>
						<small>クリエイティビティを刺激するクリエイターの集う場「Creators MeetUp」へ参加</small>
						<br>
						<ul>
							<li>絶望の国の起業とセーフティネット：加々美文康</li>
							<li>最近話題になったセキュリティ：ももいやすなり</li>
							<li>ものづくりにかける時間 – 工数の見積もりと計画づくり：千葉礼美</li>
							<li>たった500円でいいの！？ワンコインマーケット・ココナラ活用術！：原田敦</li>
							<li>高セキュリティ低コストでのサイト制作：山本和輝</li>
							<li>HTML5 時代に必要なスキル：山崎大助</li>
							<li>RIAからSPAへ、HTML５が導く技術革新：佐川夫美雄</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="./posts/event/2014-01-27-html56.html">2014/01/27 第７回 html5jエンタープライズ部ナイトセミナー</a>
						</h4>
						<small>RIAに代わる技術、実用的SPAについて考える</small>
						<br>
						<ul>
							<li>「いま、なぜ SPA なのか」佐川 夫美雄</li>
							<li>「SPA を実現するために必要な通信技術」仲 裕介</li>
							<li>「Vert.xとSockJSによるスケールアウトWebSocketサーバー構築」小堤 一弘、横田真俊</li>
							<li>「SPA に必要なJavaScriptフレームワーク」酒巻 瑞穂</li>
							<li>「WebSocketを利用したSPA事例とデモ」@stakezaki</li>
							<li>「MVC5+Bootstrapで作るSPA with Office365アカウント(+Google, FB, Twitterアカウント)」野呂清二</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2013.enterprise/">
								2013/12/13 オープンソースカンファレンス2013 .Enterprise
							</a>
						</h4>
						<ul>
							<li>業務アプリケーションにおけるWeb開発の現状:佐川夫美雄/酒巻瑞穂</li>
							<li>展示ブース：佐川夫美雄/酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://geechs-magazine.com/561">
								2013/12/10 【21cafe】スペシャルゲスト登場！ 汎用的なツール「Yeoman」のハンズオン
							</a>
						</h4>
						<ul>
							<li>ハンズオン講師：佐川夫美雄</li>
							<li>スペシャルゲスト：@yosuke_furukawa </li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2013-fukuoka/">
								2013/11/16 オープンソースカンファレンス2013 Fukuoka
							</a>
						</h4>
						<small>第６回 html5jエンタープライズ部（ナイト）セミナー</small>
						<ul>
							<li>業務アプリケーションにおけるモダンWeb開発の現状:川田寛/佐川夫美雄/酒巻瑞穂</li>
							<li>展示ブース：川田寛/佐川夫美雄/酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2013-fukuoka/">
								2013/11/11,2013/11/27 【21cafe】エンタープライズ･初心者向け JavaScriptフレームワーク・ハンズオン
							</a>
						</h4>
						<small>Backbone.js/AngularJS編</small>
						<br>
						<ul>
							<li>Backboneハンズオン講師：佐川夫美雄</li>
							<li>AngularJSハンズオン講師：酒巻瑞穂</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="./posts/event/2013-10-31-html55.html">2013/10/31 第５回 html5jエンタープライズ部ナイトセミナー</a>
						</h4>
						<small>HALLOWEEN WEB NIGHT 〜HTML5適用事例で盛り上がろう！〜</small>
						<br>
						<ul>
							<li>「Backbone/Yeomanでえんぷら」@albatrosary</li>
							<li>「AngularJSでえんぷら」@SakamakiM</li>
							<li>「Ext.js/SenchaSDKでえんぷら」@kotsutsumi</li>
							<li>「Visual Studio 2013 は何が違うのか？ HTML5時代に整合したWeb開発環境」@kawada_hiroshi</li>
							<li>「HTML5とOSSで作るブラウザで簡単顔認識」@mitsuruog</li>
							<li>「three.js : 3D表現とえんぷら」@chimerast</li>
							<li>「紙からWebへ」新潮社「フォーサイト」編集長 安河内 氏</li>
							<li>「エンタープライズ分野におけるWebRTC最新動向」@Tukimikage</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="http://www.ospn.jp/osc2013-fall/">
								2013/10/19-2013/10/20 オープンソースカンファレンス2013 Tokyo/Fall
							</a>
						</h4>
						<ul>
							<li>展示ブース：川田寛/佐川夫美雄</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="./posts/event/2013-10-31-html55.html">
					2013/10/17,2013/10/24 【21cafe】ハンズオン形式で学ぶ！HTML5勉強会
							</a>
						</h4>
						<small>GitHub+CSS+Sass+Compass編</small>
						<br>
						<ul>
							<li>ハンズオン講師：佐川夫美雄</li>
						</ul>
					</blockquote>

					<blockquote>
						<h4>
							<a href="./posts/event/2013-09-09-html54.html">2013/9/9 業務システムエンジニアのためのHTML5勉強会#04</a>
						</h4>
						<ul>
							<li>「業務系WebアプリケーションがStrutsから旅立つ日」小川充</li>
							<li>「Java EE の概要と HTML 5 の取り組み」寺田佳央</li>
							<li>「Strutsから移行する人のためのJSF基礎」久保智</li>
							<li>「JavaプログラマのためのScalaプログラミング」石黒尚久</li>
							<li>「JavaからScalaへ　~ScalaでWeb開発はこう変わる~」竹添直樹</li>
							<li>LT大会</li>
						</ul>
					</blockquote>
					<blockquote>
						<h4>
							<a href="/posts/event/2013-08-01-html53.html">2013/08/01 業務システムエンジニアのためのHTML5勉強会#03</a>
						</h4>
						<small>新しいIEとJavaScriptで動く最近のWebアプリケーション</small>
						<small>IT管理者と新しいIE</small>
						<small>だから、IEは業務システムで使われている。いままでもこれからも</small>
						<small>LT大会</small>
					</blockquote>
					<blockquote>
						<h4>
							<a href="/posts/event/2013-05-10-html52.html">2013/05/10 業務システムエンジニアのためのHTML5勉強会#02</a>
						</h4>
						<small>Webアプリ開発プラットフォームを使ってみる ~Wakandaの巻~</small>
						<small>websocketでバックエンドプログラムのコンソールメッセージをブラウザに出してみた</small>
						<small>グラフ描画JSライブラリ ~サーバ負荷を最小に抑えてグラフを出力する方法~</small>
						<small>LT大会</small>
					</blockquote>

					<blockquote>
						<h4>
							<a href="/posts/event/2013-03-15-html51.html">2013/03/15 業務システムエンジニアのためのHTML5勉強会#01</a>
						</h4>
						<small>HTML5×業務アプリ－いくつかのコンサル経験と元業務アプリ屋の視点から</small>
						<small>HTML5-ready な IE10 との付き合い方</small>
						<small>HTML5と非機能要件の話</small>
						<small>写真アップロードモバイルHTML5サイトの最適化と業務アプリへの適用</small>
					</blockquote>
				</div>

			</div>

			<div class="span3 right_contents">
				<h5>Twitter</h5>
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23html5biz" data-widget-id="322766761344765952">#html5biz に関するツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>