	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span9 left_contents">
				<h2>アーカイブ</h2>
				<div class="event_archive" ng-controller="ArchiveCtrl">
					<blockquote ng-repeat="archive in archives">
						<h4>
							<a href="{{archive.url}}">
								{{archive.date}} {{archive.title}}
							</a>
						</h4>
						<small ng-if="archive.desc">{{archive.desc}}</small><br ng-if="archive.desc">
						<ul>
							<li ng-repeat="con in archive.contents"><span ng-if="con.category">({{con.category}})</span> {{con.title}}<span ng-if="con.speaker"> - {{con.speaker}}</span></li>
						</ul>
					</blockquote>
				</div>

			</div>

			<div class="span3 right_contents">
				<h5>Twitter</h5>
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23html5biz" data-widget-id="322766761344765952">#html5biz に関するツイート</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>