		<div class="page-header">
			<h1>ML投稿のルール
				<small></small>
			</h1>
		</div>
		
		<div class="span11">
				<p>html5jえんぷら部は、コミュニティ「html5j」と同じMLを利用して活動しております。html5jには他の部活もありますが、Web技術に関連したネタなら、全く気を使わずガンガン交流してOKです！技術的質問についても、Web技術好きが集まったこのコミュニティでは歓迎されるはずです！ここで起きている議論は、国内のWeb技術発展に大きく貢献されます！楽しみましょう！</p>
				<p>ただ一点だけお願いです。部活内での議論、情報共有については、件名に【えんぷら部】と入れるようにして下さい。html5は、エンタープライズ分野にかぎらず、デザイン系、ゲーム系など、多くの分野を巻き込む懐の広いテクノロジーです。無関係な分野の方に頻繁にMLが行ってしまうことを避けられるよう、フィルタリングできる工夫をさせて下さい。</p>
				<p>また、以前このMLでは、ちょっとした問題が発生したため、初投稿などでちょっとしたルールを作っています。詳しくは<a href="http://www.html5j.org/" target="_blank">html5jのサイト</a>でご確認下さい。</p>
				<a href="https://groups.google.com/group/html5-developers-jp/subscribe" class="btn btn-primary btn-large" target="_blank">html5jえんぷら部に参加する »</a>
		<div>