<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<img id="logo" src="./img/html5logo.png">
	<h1 class="welcome_message">
		<p class="welcome_top"><nobr>業務システムエンジニアのための</nobr><wbr/><nobr>モダンWeb技術者コミュニティ</nobr></p>
		<p class="welcome_main">html5jエンタープライズ部</p>
	</h1>
</div>

<div class="row">
	<div class="span12">
		<p>Google準公式なWeb技術者コミュニティ「html5j」のうち、エンタープライズ分野で活躍するエンジニアが集い結成されたサブグループです。HTML5・JavaScript・Web系インフラ・UI/UX・モバイルなどのWeb技術を、流通・金融・小売などの業務システム領域へどのように活用していくか、日々情報共有・議論を行なっています！</p>
		<p>そんな私たちのモットーは…</p>
		<ul>
			<li><strong>先進性＜安定性</strong>：不安定要素だらけのモダンWeb技術に、いち早く安定して活用できる方法を探ってみる！</li>
			<li><strong>日本＋モダンWeb</strong>：レガシーだらけの日本のシステムに、モダンWeb技術を適用する方法を考えてみる！</li>
			<li><strong>国内→世界</strong>：後追い状態の日本のエンジニアが、世界へアピールできるテクノロジーを生み出してみる！</li>
		</ul>
	</div>
	<div class="span12 summary">
		<h2>参加者はどんな人？</h2>
		<ul>
			<li>HTML5とか新しいWebの技術とかよくわからないけど、とにかく勉強したいと思っている人。</li>
			<li>レガシー技術や既存システムだらけの環境に、モダンWeb技術をどう適用すれば良いか考えている人。</li>
			<li>フロントエンド技術に詳しくなりたい人。モダンWeb技術について深く知りたい人。</li>
			<li>Web技術の専門家。Webの標準化に関わっている人。</li>
		</ul>
	</div>
	<div class="span12 summary">
		<h2>オープンソースカンファレンス 2015 Tokyo/Spring <small>- 2015-02-28（土）13:00 - 16:00</small></h2>
		オープンソースカンファレンス 2015 Tokyo/Spring でYEOMANハンズオンを行います。AngularJSを含むYEOMANチュートリアルも行いますので、まだ触ったこと無い、なかなか身につかないというデザイナー/プログラマの方はこの機会にお集まりください。<br><br>
		お申込みはこちらから<br>
		<a href="http://yeoman.doorkeeper.jp/events/19362">初めてのYEOMAN・ハンズオン 〜 YEOMANを使ってWeb開発に差をつける 〜</a>
	</div>
	<!--
	<div class="span8 summary">
		<h2>開催予定イベント</h2>
		<ul ng-controller="MainCtrl">
			<li ng-repeat="event in events">
				<a href="{{event.url}}" target="_blank">{{event.date}} {{event.title}}</a><br>
				<small ng-if="event.venue">場所：{{event.venue}}<br></small>
				<small ng-repeat="contents in event.contents">{{contents.category}}：{{contents.title}}：{{contents.speaker}}</small>
			</li>
			<p> </p>
		</ul>
	</div>
	-->
</div>